  body 
  {
      background: #E7DFDD;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
     /* margin: 10%;
      padding:10%;*/
    }

    header
    {
      background: black;
      
      padding:1%;
      text-align: center;
      color: white;
      padding-right: 1%; 
    }

    .swiper-container 
    {
      width: 100%;
      padding-top: 100px;
      padding-bottom: 100px;    
    }

    .swiper-slide 
    {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 400px;
      background:#fff;
     
    }

    .swiper-slide .imgBx
    {
      width: 100%;
      height:300px;
      overflow: hidden;
    }

     .swiper-slide .imgBx img
    {
      width: 100%;
    }

     .swiper-slide .details
    {
      box-sizing: border-box;
      font-size: 20px;
      padding: 20px;
    }

     .swiper-slide .details h3
    {
      margin: 0;
      padding: 0;
      font-size: 20px;
      text-align: center;
      line-height: 20px;
    }

    .swiper-slide .details h1 span
    {
      color: #f44336;
      font-size: 16px;
      
    }

    footer
    {
      text-align: center;
      background-color: black;
      color:white;
      padding: 10px;
      bottom:10%;
      width: 100%;
      /*position: fixed;*/
      z-index: 1;
      padding-left:-10%;

    }

    aside{
     width: 100px;
     height: 1px;
     text-align: center;
     background-color: #E7DFDD;
     padding:0px 0px;
     float: left;
     }

     aside h3
     {
      text-align: center;
     }

     

  #header
{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(imga/p5.jpg);
  height: 50vh;
  background-size: cover; /* 保持图像本身的宽高比例，将图片缩放到正好完全覆盖定义背景的区域 */
  background-position: center; /* 位子在中間 */
}

.navbar-nav li a
{
  float: right;
  color: white !important; /* 優先級判斷 */
  font-family: 'Noto Sans TC', sans-serif;
}



.logo img
{
  width: 140px;  /* 寬度 */
  margin-left: 50px; /* 左邊距 */
}
.nav-button
{
  background: none!important; /* 不顯示背景 */
  border: none!important; /* 不显示边框，優先級判斷 */
  outline: none!important; /* 无线条，優先級判斷 */

}

nav .fa-bars/* 設置按鈕顏色，以及大小 */
{
  color:  #E7DFDD;
  font-size: 30px;

}



 /* -----welcome text----- */
.welcome 
{
  border-radius: 10px 100px / 120px;/* 外边框圆角 */
  padding: 50px 100px;
  margin-top: -150px;
  background-color: #fff;
  box-shadow: 0 0 30px 8px rgba(0,0,0,0.5); 

}

.welcome h1
{
  color: #696969;
  font-family: 'Ma Shan Zheng', sans-serif;
}

.welcome p
{
  font-family: 'Noto Sans TC', sans-serif;
}

.welcome .btn-light
{
  margin-top: 9px;
  padding: 12px 30px;
  border-radius: 10px 100px / 120px;/* 外边框圆角 */
  color: white;
  background-color: #014991;
  font-family: 'ZCOOL KuaiLe', sans-serif;
}  
  